{{- $release := .release -}}
{{- $index := .index -}}
{{- $floatDirection := cond (eq (mod $index 2) 0) "left" "right" -}}
{{- $marginStyle := cond (eq $floatDirection "left") "margin: 0 20px 10px 0;" "margin: 0 0 10px 20px;" -}}

<div class="album-section" id="{{ $release.id }}">
  <h2>{{ $release.releaseOf.title }}</h2>
  <p><strong>{{ $release.releaseOf.type }} - Released {{ dateFormat "2 January 2006" $release.releaseDate }}</strong></p>

  <img src="{{ $release.releaseOf.image }}" alt="{{ $release.releaseOf.imageAlt }}" style="max-width: 280px; width: 45%; min-width: 200px; float: {{ $floatDirection }}; {{ $marginStyle | safeCSS }}">

  {{ .release.releaseOf.description | markdownify }}

  <div style="clear: both;"></div>

  <p><strong>Stream on:</strong></p>
  <ul>
    {{- range $release.releaseOf.streaming }}
    <li><i class="{{ .icon }}"></i> <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" {{ printf "onclick=\"gtag('event', 'streaming_click', {'streaming_service': '%s', 'click_location': 'music_page', 'song_name': '%s'});\"" (.platform | lower) ($release.releaseOf.title | replace "'" "\\'") | safeHTMLAttr }}>{{ .platform }}</a></li>
    {{- end }}
  </ul>

  {{- if $release.releaseOf.downloads }}
  <p><strong>Download:</strong></p>
  <ul>
    {{- range $release.releaseOf.downloads }}
    <li><i class="{{ .icon }}"></i> <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" {{ printf "onclick=\"gtag('event', 'download_click', {'download_platform': '%s', 'click_location': 'music_page', 'song_name': '%s'});\"" (.platform | lower) ($release.releaseOf.title | replace "'" "\\'") | safeHTMLAttr }}>{{ .platform }}</a></li>
    {{- end }}
  </ul>
  {{- end }}

  <hr style="margin: 30px 0;">
</div>
